

.page{
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #191717;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.filter {
  display: flex;
  justify-content: center;

}

.select-group {
  margin-right: 20px;
}

label {
  margin-right: 5px;
}

select{
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  outline: none;
}

 input, button{
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: #E55604;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #ffffff;
  color: #04e52d;
}


#book{
    display: grid;
    grid-template-columns:repeat(5,350px); 
    row-gap: 20px;
    column-gap:5px;
    justify-content: center;
    align-items: first baseline;
    margin-top: 25px;
}

/*footer*/

a {
  color: inherit;
}
.footercontain1 {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
.site-wrapper1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header1 {
  padding: 3vh 0;
  text-align: center;
  background: #e55604;
}

.site-header1 > div {
  display: flex;
  justify-content: center;
}

.site-header1 a {
  line-height: 1;
}

.site-main1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  margin: 30px 0;
}

.site-main1 h1 {
  line-height: 1.2;
  margin: 0 0 20px;
}

.site-footer1 {
  padding: 30px 0;
  color: white;
  background: #191717;
  margin: 80px 0 0;
}

.site-footer1 .logo-wrapper1 div {
  font-style: italic;
  font-size: 15px;
  line-height: 1;
}

.site-footer1 .widgets-wrapper1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-block: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

.site-footer1 h5 {
  font-size: 20px;
  margin: 20px 0;
}

.site-footer1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer1 ul:not(.socials) li + li {
  margin-top: 10px;
}

.site-footer1 a {
  text-decoration: none;
}

.site-footer1 .socials1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: flex-start;
  grid-gap: 15px;
}

.site-footer1 .socials1 svg {
  fill: var(--white);
}




@media (max-width:768px) {
  .navbar {
    flex-direction: row;
    width: min-content;
  }

  .filter {
    flex-direction: column;
    justify-content: center;
  }

  .select-group {
    margin-right: 0;
    margin-bottom: 10px;
  }

  input[type="text"] {
    border-radius: 5px;
  }

  .search-container button {
    border-radius: 5px;
  }

  #book {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 10px; 
  }

  .site-footer1 .widgets-wrapper1 {
    grid-template-columns: 1fr;
  }

  .site-footer1 .socials1 {
    grid-template-columns: auto;
    justify-content: center;
  }

}

